name: Build and Start

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

  start:
    needs: build
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: SKIP_ENV_VALIDATION=true bun run build

      - name: Start
        env:
          AUTH_SECRET: "ci_secret_placeholder"
          INTERNAL_API_BASE_URL: "http://localhost:3000"
          MONGODB_CONNECTION_STRING: "mongodb://localhost:27017/puck_ci"
          MONGODB_DB_NAME: "puck_ci"
        run: bun run start &

      - name: Wait for application to start
        run: sleep 20

      - name: Check health
        run: curl -f http://localhost:3000/login
