name: Vitest CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - "*"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: "latest"

            - name: Install dependencies
              run: bun install

            - name: Download playwright browsers
              run: bunx --bun playwright install --with-deps chromium

            - name: Run tests
              run: SKIP_ENV_VALIDATION=true bun test:browser --browser.headless
